In [1]:
'''
2)	Write a Python Program and perform the following operations?
I.	Create a List {1225, 4986, 6789, 7890, 2345, 6783, 0987, 1234, 8765, 3456}
II.	Iterate using a for loop
III.	Iterate using for loop and range
IV.	List Comprehension
V.	Enumerate
VI.	Iter function and next function
VII.	Map function
VIII.	Using zip
IX.	Using NumPy Module

'''

'\n2)\tWrite a Python Program and perform the following operations?\nI.\tCreate a List {1225, 4986, 6789, 7890, 2345, 6783, 0987, 1234, 8765, 3456}\nII.\tIterate using a for loop\nIII.\tIterate using for loop and range\nIV.\tList Comprehension\nV.\tEnumerate\nVI.\tIter function and next function\nVII.\tMap function\nVIII.\tUsing zip\nIX.\tUsing NumPy Module\n\n'

In [2]:
list1=[1225,4986,6789,7890,2345,6783,987,1234,8765,3456]

In [4]:
#iterate using for loop
for i in list1:
    print(i)

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

In [5]:
#iterate using for loop and range
length = len(list1)
for i in range(length):
    print(list1[i])

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

In [6]:
#list comprehension
cube=[a ** 3 for a in list1] 
print(cube)

[1838265625, 123952937256, 312908547069, 491169069000, 12895213625, 312079650687, 961504803, 1879080904, 673373097125, 41278242816]

In [7]:
#Enumerate
x = list(enumerate(list1))
print(x)

[(0, 1225), (1, 4986), (2, 6789), (3, 7890), (4, 2345), (5, 6783), (6, 987), (7, 1234), (8, 8765), (9, 3456)]

In [8]:
# Iter function and next function
iter_list1 = iter(list1)

for element in iter_list1 :

    # Print each element
    print(element)
for i in iter_list1:
    print(next(iter_list1))

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

In [9]:
#map function
mapped_list = list(map(lambda x: x * 2, list1))
print(mapped_list)

[2450, 9972, 13578, 15780, 4690, 13566, 1974, 2468, 17530, 6912]

In [10]:
# Zip Function
zipped = zip(list1)
list(zipped)

[(1225,),
 (4986,),
 (6789,),
 (7890,),
 (2345,),
 (6783,),
 (987,),
 (1234,),
 (8765,),
 (3456,)]

In [11]:
#Numpy Module
import numpy
arr = numpy.array(list1)
print(arr)

[1225 4986 6789 7890 2345 6783  987 1234 8765 3456]